<div class='giscus-comments'></div>

<script is:inline>
	const script = document.createElement('script')
	script.src = 'https://giscus.app/client.js'
	script.async = true
	script.crossOrigin = 'anonymous'

	// Your exact values from the generated script
	script.setAttribute('data-repo', 'AlexanderRodriguez96/blog-camilo')
	script.setAttribute('data-repo-id', 'R_kgDOS4rn7w')
	script.setAttribute('data-category', 'Blog Post Comments')
	script.setAttribute('data-category-id', 'DIC_kwDOS4rn784C_BwJ')
	script.setAttribute('data-mapping', 'pathname')
	script.setAttribute('data-strict', '0')
	script.setAttribute('data-reactions-enabled', '1')
	script.setAttribute('data-emit-metadata', '0')
	script.setAttribute('data-input-position', 'bottom')
	script.setAttribute('data-theme', 'preferred_color_scheme')
	script.setAttribute('data-lang', 'en')

	document.querySelector('.giscus-comments').appendChild(script)
</script>
